<header>
<h1>This is pages home</h1>

<div style="width: 450px;">
	<div style="width: 200px; display: inline-block; ">
	<%= image_tag('scott-sacramento-century.jpg', height: '200', width: '200') %>
	</div>

	<div style="width: 200px; display: inline-block; vertical-align: top;">
	<p>This is a picture of me, shortly before embarking on a 100-mile bike ride.<p>

	<p>The ride began in the Capitol Mall of downtown Sacramento, CA<p>
	
	We hit the towns of:
	<ul>
		<li>Sacramento</li>
		<li>West Sacramento</li>
		<li>Clarksburg</li>
		<li>Isleton</li>
	</ul>

	</div>
</div>
</header>


<footer>
<%= link_to 'About', about_path %>
</footer>